<%= form_tag movies_path, method: 'get' do %>
  <%= fields_for :movie do |f| %>
    <div class="form-group col-xs-12 col-md-6">
    	<%= f.text_field :query, value: (params[:movie][:query] if params[:movie]), placeholder: "Search...", class: "form-control" %>
    </div>
    <div class="form-group col-xs-12 col-md-4">
    	<%= f.select :runtime_in_minutes, options_for_select(
    		[
    			["Any runtime", "0"],
    			["90 minutes and under", "0-90"],
    			["Over 90 and up to 120 minutes", "90-120"],
    			["Over 120 minutes", "120"]
    		]
    	), {}, class: "form-control" %>
    </div>
  <% end %>
  <div class="form-group col-xs-12 col-md-2">
    <%= submit_tag "Search", class: "btn btn-primary btn-block" %>
  </div>    
<% end %>