<%= form_for @user, html: {class: "form-signin"} do |f| %>
  
  <h2 class="form-signin-heading">Sign Up</h2>

  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-forms">
    <%= f.label :email, class: "sr-only" %>
    <%= f.text_field :email, placeholder: "e-mail address", class: "form-control" %>

    <%= f.label :firstname, "First Name", class: "sr-only" %>
    <%= f.text_field :firstname, placeholder: "first name", class: "form-control" %>

    <%= f.label :lastname, "Last Name", class: "sr-only" %>
    <%= f.text_field :lastname, placeholder: "last name", class: "form-control" %>

    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, placeholder: "password", class: "form-control" %>

    <%= f.label :password_confirmation, class: "sr-only" %>
    <%= f.password_field :password_confirmation, placeholder: "confirm password", class: "form-control" %>
  </div>
  
  <div class="spacer"></div>
  <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>

<% end %>