<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">RottenMangoes</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to "Submit a Movie", new_movie_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %><span class="caret"></span></a>
						<ul class="dropdown-menu">
				      <% if current_user.admin %>
				      	<li>
				      		<%= link_to "Admin Page", admin_users_path %>
				      	</li>
				      <% end %>
							<li><%= link_to "Log out", session_path("current"), method: :delete %></li>
						</ul>
		      	 
		      </li>
		    <% else %>
		    	<li>
		      	<%= link_to "Log In", new_session_path %>
		      </li>
		      <li>
		      	<%= link_to "Sign Up", new_user_path %>
		      </li>
		    <% end %>
		  </ul>
    </div>
	</div>
</nav>